name: CD

on:
  push:
    branches: 
      - main
      
  workflow_dispatch:
    

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt
        pip install -r requirements-test.txt # include some extra dependencies
        

    - name: Run tests (Optional but recommended)
      run: |
        make model-test
        make api-test
    
    - name: Authenticate to GCP
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

    - name: Configure gcloud
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: "gcp-api-mle" 
        export_default_credentials: true
    
    - name: Configure Docker for GCR
      run: |
        gcloud auth configure-docker --quiet

    - name: Build and push Docker image
      run: |
        docker build -t gcr.io/gcp-api-mle/flight-delay-api:latest .
        docker push gcr.io/gcp-api-mle/flight-delay-api:latest

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy flight-delay-api \
          --image gcr.io/gcp-api-mle/flight-delay-api:latest \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated

    - name: Stress test
      
      run: |
        make stress-test
        
